# Ignore configuration files directory
SKSE/Plugins/SkyrimNet/config/

# Ignore my personal profile
SKSE/Plugins/SkyrimNet/prompts/characters/player_special.prompt

# Ignore logs directory
SKSE/Plugins/SkyrimNet/logs/

# Data directory
SKSE/Plugins/SkyrimNet/data/

# Models
SKSE/Plugins/SkyrimNet/models/

# Sql
SKSE/Plugins/SkyrimNet/sql/

# Ignore backup files
*~ 
*.dll
*.pdb
# Ignore vscode settings
.vscode
SKSE/Plugins/SkyrimNet/assets/web/

SKSE/Plugins/SkyrimNet/prompts/web/bundled_base.prompt

skyrimse.ppj